*.[oa]
*˜
*.ko
*.mod.c
Module.symvers
*.o.cmd
*.cmd
*.unsigned
*.cgi
*.so
*.ko.cmd
*.tmp_versions
modules.order
pgsql/bin/
pgsql/include/
pgsql/lib/
pgsql/share/
mapps/html/cgisrc/yui/
target-mode/fc/qla2xxx
target-mode/fc/isp
masterd/vtmdaemon
scctl/dbrecover
scctl/fcconfig
scctl/scctl
scctl/vctl
target-mode/iscsi/usr/ietadm
target-mode/iscsi/usr/ietd
build/quadstorcorerhel6.spec
build/quadstoritfrhel6.spec
*.ko.debug
*.ko.symbols
export_syms
core/@
core/machine
core/vnode_if.h
core/vnode_if_newproto.h
core/vnode_if_typedef.h
core/x86
export/@
export/machine
export/opt_cam.h
export/x86
others/pidof/pidof
scctl/cam
target-mode/fc/isp9.0/@
target-mode/fc/isp9.0/bus_if.h
target-mode/fc/isp9.0/device_if.h
target-mode/fc/isp9.0/machine
target-mode/fc/isp9.0/opt_cam.h
target-mode/fc/isp9.0/opt_ddb.h
target-mode/fc/isp9.0/opt_isp.h
target-mode/fc/isp9.0/pci_if.h
target-mode/fc/isp9.0/x86
target-mode/iscsi/kernel/@
target-mode/iscsi/kernel/machine
target-mode/iscsi/kernel/opt_cam.h
target-mode/iscsi/kernel/vnode_if.h
target-mode/iscsi/kernel/vnode_if_newproto.h
target-mode/iscsi/kernel/vnode_if_typedef.h
target-mode/iscsi/kernel/x86

